<!-- HEADER -->
<header class="header">
  <div class="mbox">
    <div class="burger">
      <div class="burger-brick"></div>
      <div class="burger-brick middle"></div>
      <div class="burger-brick"></div>
    </div>
    <div class="header-wrap">
      <a class="header-logo" href="index.html"><img src="images/logo.png" alt="logo"></a>
      <div class="header-left">
        <div class="info">
          <div class="info-item">
            <div class="schedule-pic"><img src="images/clock-icon.png" alt="clock"></div>
            <p>9:00 - 22:00</p>
          </div>
          <div class="info-item">
            <div class="address-pic"><img src="images/marker-icon.png" alt="marker"></div>
            <p>Республика Татарстан, Зеленодольский район, Осиново, ул. Садовая, 8</p>
          </div>
        </div>
        <div class="header-social">
          <a href="#"><img src="images/vk-icon.png" alt="vk"></a>
          <a href="#"><img src="images/insta-icon.png" alt="insta"></a>
          <a href="#"><img src="images/facebook-icon.png" alt="facebook"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="color-line"></div>
  <div class="mbox">
    <nav class="navigation">
      <ul class="main-menu">
        <li><a href="#complex">о центре</a></li>
        <li><a href="#scheme">схема центра</a></li>
        <li><a href="#slider">магазины</a></li>
        <li><a href="#contacts">как добраться</a></li>
        <li><a href="#contacts">контакты</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- /HEADER -->

