<div class="hidden-block">

  <div id="call_success">
    <div class="call-success">
       <div class="call_success">
         <div class="call-title">Спасибо за заявку!</div>
         <div class="call-subtitle">Мы свяжемся с Вами в ближайшее время</div>
       </div>
    </div>
  </div>

  <div id="news-popup" class="news-popup-type2">
    <div class="news-pic">
      <img src="images/news-card01.jpg" alt="">
    </div>
    <div class="news-content">
      <h5>Заголовок акции</h5>
      <p>В Англии выпустили новую колекцию и вы не поверити она уже у нас есть! Приходите, также скидки и другие новости от нашего магазина.</p>
    </div>
    <a href="#">перейти в магазин</a>
  </div>
  
  <div id="map-popup">
    <div id="map"></div>
  </div>

</div>