<section class="section1">
  <div class="accordion-overlay">
    <div class="acc-overlay-item acc-overlay-item1">
      <div class="overlay-content">
        <h5>Свежие новости</h5>
        <p>Мы будем постепенно расширять функциональность нашего сайта и ждем с нетерпением ваших отзывов.</p>
      </div>
    </div>
    <div class="acc-overlay-item acc-overlay-item2">
      <div class="overlay-content">
        <h5>Лучшие акции</h5>
        <p>Мы будем постепенно расширять функциональность нашего сайта и ждем с нетерпением ваших отзывов.</p>
      </div>
    </div>
    <div class="acc-overlay-item acc-overlay-item3">
      <div class="overlay-content">
        <h5>Шопинг в центре</h5>
        <p>Мы будем постепенно расширять функциональность нашего сайта и ждем с нетерпением ваших отзывов.</p>
      </div>
    </div>
    <script>
      var firstBg = "../images/section1-first-bg.jpg";
      var secondBg = "../images/section1-second-bg.jpg";
      var thirdBg = "../images/section1-third-bg.jpg";
    </script>
  </div>
  <div class="mbox">
    <div class="accordion-wrap">
      <div class="acc-content acc-content1 close">
        <div class="acc-title acc-title1">
          <h6>Свежие новости</h6>
        </div>
        <div class="acc-item-wrap">
          <a class="acc-item" href="#news-popup">
            <div class="acc-pic">
              <img src="images/card01.jpg" alt="">
            </div>
            <div class="acc-text">
              <h6>Акция акция</h6>
              <p>Текст к новости текст к новостям Текст к новости текст к новостям Текст к новости текст к новостям Текст к новости текст к новостям</p>
            </div>
          </a>
          <a class="acc-item" href="#news-popup">
            <div class="acc-pic">
              <img src="images/card01.jpg" alt="">
            </div>
            <div class="acc-text">
              <h6>Акция акция</h6>
              <p>Текст к новости текст к новостям Текст к новости текст к новостям Текст к новости текст к новостям Текст к новости текст к новостям</p>
            </div>
          </a>
          <a class="acc-item" href="#news-popup">
            <div class="acc-pic">
              <img src="images/card01.jpg" alt="">
            </div>
            <div class="acc-text">
              <h6>Акция акция</h6>
              <p>Текст к новости текст к новостям Текст к новости текст к новостям Текст к новости текст к новостям Текст к новости текст к новостям</p>
            </div>
          </a>
          <a class="acc-item" href="#news-popup">
            <div class="acc-pic">
              <img src="images/card01.jpg" alt="">
            </div>
            <div class="acc-text">
              <h6>Акция акция</h6>
              <p>Текст к новости текст к новостям Текст к новости текст к новостям Текст к новости текст к новостям Текст к новости текст к новостям</p>
            </div>
          </a>
          <a class="acc-item" href="#news-popup">
            <div class="acc-pic">
              <img src="images/card01.jpg" alt="">
            </div>
            <div class="acc-text">
              <h6>Акция акция</h6>
              <p>Текст к новости текст к новостям Текст к новости текст к новостям Текст к новости текст к новостям Текст к новости текст к новостям</p>
            </div>
          </a>
          <a class="acc-item" href="#news-popup">
            <div class="acc-pic">
              <img src="images/card01.jpg" alt="">
            </div>
            <div class="acc-text">
              <h6>Акция акция</h6>
              <p>Текст к новости текст к новостям Текст к новости текст к новостям Текст к новости текст к новостям Текст к новости текст к новостям</p>
            </div>
          </a>
        </div>
      </div>
      <div class="acc-content acc-content2 close">
        <div class="acc-title acc-title2">
          <h6>Шопинг в центре</h6>
        </div>
        <div class="acc-item-wrap">
          <a class="acc-item" href="#news-popup">
            <div class="acc-pic">
              <img src="images/card02.jpg" alt="">
            </div>
            <div class="acc-text">
              <h6>Акция акция</h6>
              <p>Текст к новости текст к новостям Текст к новости текст к новостям Текст к новости текст к новостям Текст к новости текст к новостям</p>
            </div>
          </a>
          <a class="acc-item" href="#news-popup">
            <div class="acc-pic">
              <img src="images/card02.jpg" alt="">
            </div>
            <div class="acc-text">
              <h6>Акция акция</h6>
              <p>Текст к новости текст к новостям Текст к новости текст к новостям Текст к новости текст к новостям Текст к новости текст к новостям</p>
            </div>
          </a>
          <a class="acc-item" href="#news-popup">
            <div class="acc-pic">
              <img src="images/card02.jpg" alt="">
            </div>
            <div class="acc-text">
              <h6>Акция акция</h6>
              <p>Текст к новости текст к новостям Текст к новости текст к новостям Текст к новости текст к новостям Текст к новости текст к новостям</p>
            </div>
          </a>
          <a class="acc-item" href="#news-popup">
            <div class="acc-pic">
              <img src="images/card02.jpg" alt="">
            </div>
            <div class="acc-text">
              <h6>Акция акция</h6>
              <p>Текст к новости текст к новостям Текст к новости текст к новостям Текст к новости текст к новостям Текст к новости текст к новостям</p>
            </div>
          </a>
          <a class="acc-item" href="#news-popup">
            <div class="acc-pic">
              <img src="images/card02.jpg" alt="">
            </div>
            <div class="acc-text">
              <h6>Акция акция</h6>
              <p>Текст к новости текст к новостям Текст к новости текст к новостям Текст к новости текст к новостям Текст к новости текст к новостям</p>
            </div>
          </a>
          <a class="acc-item" href="#news-popup">
            <div class="acc-pic">
              <img src="images/card02.jpg" alt="">
            </div>
            <div class="acc-text">
              <h6>Акция акция</h6>
              <p>Текст к новости текст к новостям Текст к новости текст к новостям Текст к новости текст к новостям Текст к новости текст к новостям</p>
            </div>
          </a>
        </div>
      </div>
      <div class="acc-content acc-content3 close">
        <div class="acc-title acc-title3">
          <h6>Лучшие акции</h6>
        </div>
        <div class="acc-item-wrap">
          <div class="acc-slider-wrap">
            <a class="acc-slider-prev" href="#">
              <img src="images/arrow-icon.png" alt="arrow">
            </a>
            <div class="acc-slider">
              
              <div class="acc-slider-item">
                <a href="#">
                  <img src="images/okey-logo.jpg" alt="">
                </a>
                <a href="#">
                  <img src="images/okey-logo.jpg" alt="">
                </a>
              </div>

              <div class="acc-slider-item">
                <a href="#">
                  <img src="images/dzhuz-logo.jpg" alt="">
                </a>
                <a href="#">
                  <img src="images/dzhuz-logo.jpg" alt="">
                </a>
              </div>
              
              <div class="acc-slider-item">
                <a href="#">
                  <img src="images/bigmoda-logo.jpg" alt="">
                </a>
                <a href="#">
                  <img src="images/bigmoda-logo.jpg" alt="">
                </a>
              </div>

              <div class="acc-slider-item">
                <a href="#">
                  <img src="images/okey-logo.jpg" alt="">
                </a>
                <a href="#">
                  <img src="images/okey-logo.jpg" alt="">
                </a>
              </div>

              <div class="acc-slider-item">
                <a href="#">
                  <img src="images/whites-logo.jpg" alt="">
                </a>
                <a href="#">
                  <img src="images/whites-logo.jpg" alt="">
                </a>
              </div>

              <div class="acc-slider-item">
                <a href="#">
                  <img src="images/bigmoda-logo.jpg" alt="">
                </a>
                <a href="#">
                  <img src="images/bigmoda-logo.jpg" alt="">
                </a>
              </div>

              <div class="acc-slider-item">
                <a href="#">
                  <img src="images/okey-logo.jpg" alt="">
                </a>
                <a href="#">
                  <img src="images/okey-logo.jpg" alt="">
                </a>
              </div>

              <div class="acc-slider-item">
                <a href="#">
                  <img src="images/dzhuz-logo.jpg" alt="">
                </a>
                <a href="#">
                  <img src="images/dzhuz-logo.jpg" alt="">
                </a>
              </div>
            </div>
            <a class="acc-slider-next" href="#">
              <img src="images/arrow-icon.png" alt="arrow">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>