<section id="complex" class="section2 mbox">
  <div class="title">
    <h1>Торгово-развлекательный центр «Радужный» - это</h1>
    <p>Многофункциональный комплекс шаговой доступности!</p>
  </div>
  <div class="complex-wrap">
    <div class="complex-left">
      <div class="complex-left-item">
        <div class="complex-left-pic">
          <img src="images/refresh-icon.png" alt="refresh">
        </div>
        <p>Общая площадь комплекса: <span style="color: #a8272d;">20 400,2 м<sup>2</sup></span></p>
      </div>
      <div class="complex-left-item">
        <div class="complex-left-pic">
          <img src="images/cash-icon.png" alt="cash">
        </div>
        <p>Торговая площадь: <span style="color: #a8272d;">6192,9 м<sup>2</sup></span></p>
      </div>
      <div class="complex-left-item">
        <div class="complex-left-pic">
          <img src="images/compass-icon.png" alt="compass">
        </div>
        <p>Площадь земельного участка: <span style="color: #a8272d;">1,58 Га</span></p>
      </div>
      <div class="complex-left-item">
        <div class="complex-left-pic">
          <img src="images/trolley-icon.png" alt="trolley">
        </div>
        <p>Складская площадь: <span style="color: #a8272d;">677,6 м<sup>2</sup></span></p>
      </div>
      <div class="complex-left-item">
        <div class="complex-left-pic">
          <img src="images/solar-icon.png" alt="solar-system">
        </div>
        <p>Полезная площадь: <span style="color: #a8272d;">17900,7 м<sup>2</sup></span></p>
      </div>
      <div class="complex-left-item">
        <div class="complex-left-pic">
          <img src="images/refresh2-icon.png" alt="refresh">
        </div>
        <p> Прогнозируеться не менее <span style="color: #a8272d;">4 000</span> посетителей в сутки. </p>
      </div>
    </div>
    <div class="complex-right-wrap">
      <img class="complex-pic" src="images/complex.png" alt="complex">
      <div class="complex-right">
        <div class="complex-right-item">
          <div class="complex-right-pic">
            <img src="images/escalator-icon.png" alt="escalator">
          </div>
          <p>Лифт на все этажи и эскалатор.</p>
        </div>
        <div class="complex-right-item">
          <div class="complex-right-pic">
            <img src="images/parking-icon.png" alt="parking">
          </div>
          <p>Наземный паркинг</p>
        </div>
        <div class="complex-right-item">
          <div class="complex-right-pic">
            <img src="images/wifi-icon.png" alt="wifi">
          </div>
          <p>Бесплатный wi-fi на всей территории ТРЦ</p>
        </div>
        <div class="complex-right-item">
          <div class="complex-right-pic">
            <img src="images/terrace-icon.png" alt="terrace">
          </div>
          <p>Открытая терраса на крыше с кафе</p>
        </div>
        <div class="complex-right-item">
          <div class="complex-right-pic">
            <img src="images/fountain-icon.png" alt="fountain">
          </div>
          <p>Парковая зона с озером</p>
        </div>
        <div class="complex-right-item">
          <div class="complex-right-pic">
            <img src="images/billboard-icon.png" alt="billboard">
          </div>
          <p> Фасадная реклама + уличный видеоэкран</p>
        </div>
      </div>
    </div>
  </div>
</section>