<section class="section3">
    <div class="mbox">
    <div class="accordion-wrap">
      <div class="acc2-content close">
        <div class="acc2-title acc2-title1">
          <h6>Описание</h6>
        </div>
        <div class="acc2-item-wrap">
          <ul>
            <li><span style="color: #ad1118;">1 этаж</span> – объединяет в себе монобрендовые и мультибрендовые магазины ведущих мировых и российских производителей,  лучшие мировые магазины одежды и обуви, всемирноизвестные сети кафе, а так же крупнейший в России продуктовый супермаркет «Перекресток».</li>
            <li><span style="color: #ad1118;">2 этаж</span> – это зона торговли для совершения семейных покупок. Функциональное  зонирование магазинов по группам товаров. Возможность размещения порядка 20 магазинов.</li>
            <li><span style="color: #ad1118;">3 этаж</span> - это многозальный кинотеатр, детские магазины, кафе и игровые площадки.</li>
          </ul>
          <p>«Радужный» объединяет в себе галереи бутиков, кинозалы, рестораны, развлекательный комплекс, продуманную логистику наземного паркинга, удобную навигацию внутри торгового объекта и качественное инженерное оснащение.</p>
        </div>
      </div>
      <div class="acc2-content close">
        <div class="acc2-title acc2-title2">
          <h6>Концепция</h6>
        </div>
        <div class="acc2-item-wrap">
          <p><span style="color: #ad1118;">Атриум торгово-развлекательный центр «Радужный»</span> задуман как многофункциональный комплекс в шаговой доступности, предназначенный для удовлетворения повседневных потребностей в товарах и услугах.</p>
          <br>
          <p>Основная аудитория ТРЦ «Радужный» - жители близлежащих микрорайонов: 
          потребители в возрасте от 20 до 65 лет, с доходом от среднего и ниже среднего, семьи с детьми.</p>
          <br>
          <p>Рядом с центром располагается красивая парковая зона вокруг озера.
          На третьем этаже комплекса разместился ресторан с выходом на открытую смотровую площадку, а также открытые кафе в летний период, размещенные на крыше.</p>
          <br>
          <p>Более 70 000 человек проживают в 15-минутной зоне пешеходной доступности
          вокруг ТРЦ.</p>
        </div>
      </div>
      <div class="acc2-content open">
        <div class="acc2-title acc2-title3">
          <h6>Размещение</h6>
        </div>
        <div class="acc2-item-wrap">
          <p>Вокруг центра сосредоточены <span style="color: #ad1118;">крупные жилые комплексы.</span></p> 
          <br>
          <p>Размещение в комплексе торговых, культурных и развлекательных структур привлекает большой поток посетителей и покупателей, обеспечивая тем самым мощный синергетический эффект.</p>
          <br>
          <p>Расположен на пересечении крупных транспортных и пешеходных потоков.</p> 
          <br>
          <p>Удобные расположение и хорошие подъездные пути позволят быстро оказаться в торговом центре жителям как Зеленодольского района, так и города Казани.</p>
        </div>
      </div>
    </div>
    <script>
      var first2Bg = "../images/section3-first-bg.jpg";
      var second2Bg = "../images/section3-second-bg.jpg";
      var third2Bg = "../images/section3-third-bg.jpg"
    </script>
  </div>
</section>