<div id="slider" class="section7 mbox">
  <div class="slider-wrap">
    <a href="#" class="slider-prev">
      <img src="images/arrow-icon.png" alt="arrow">
    </a>
    <div class="slider">
      <a rel="gallery1" href="images/slide01.jpg" class="slider-item">
        <img src="images/slide01.jpg" alt="">
      </a>
      <a rel="gallery1" href="images/slide02.jpg" class="slider-item">
        <img src="images/slide02.jpg" alt="">
      </a>
      <a rel="gallery1" href="images/slide03.jpg" class="slider-item">
        <img src="images/slide03.jpg" alt="">
      </a>
      <a rel="gallery1" href="images/slide04.jpg" class="slider-item">
        <img src="images/slide04.jpg" alt="">
      </a>
    </div>
    <a href="images/slide04.jpg" class="slider-next">
      <img src="images/arrow-icon.png" alt="arrow">
    </a>
  </div>
</div>