<section id="contacts" class="section8">
  <div class="mbox">
    <div class="title">
      <h2>Будьте всегда с нами!</h2>
    </div>
    <div class="social">
      <a href="#"><img src="images/vk-icon.png" alt="vk"></a>
      <a href="#"><img src="images/insta-icon.png" alt="insta"></a>
      <a href="#"><img src="images/facebook-icon.png" alt="facebook"></a>
    </div>
  </div>
  <div class="adress-wrap">
    <div class="adress-inner-wrap">
      <div class="adress-left">
        <h6>Добраться к нам просто!</h6>
        <div class="adress-item">
          <div class="adress-icon">
            <img src="images/marker-icon.png" alt="marker">
          </div>
          <p>Республика Татарстан, Зеленодольский район, Осиново, ул. Садовая, 8</p>
        </div>
        <div class="adress-item">
          <div class="adress-icon">
            <img src="images/letter-icon.png" alt="letter">
          </div>
          <a href="mailto:rainbowatrium@mail.ru">rainbowatrium@mail.ru</a>
        </div>
        <a href="#map-popup" class="map-link el-button">посмотреть на карте</a>
      </div>
    </div>
  </div>
</section>